# This is a sample config file. It was tested with:
# 
#      Compiler name/version:       Intel 13.0 Beta 
#      Operating system version:    SLES11 SP1
#      Hardware:                    SGI Altix UV1000(64-bit)
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for 
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is. 
#
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC technical
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is 
# the config file that will provide the best performance.
# 
# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/omp2012
####################################################################
# Replace the setting below with the ones that match your
# machine.
#
# hw_model = name of the machine model
# hw_memory = how much memory in the machine you are testing
# hw_disk = what types and size of disk were used when tested
# hw_vendor = what vendor makes the machine being tested
# hw_cpu = what type of processor is in the system
# hw_cpu_mhz = the clock frequency of the processor
# hw_ncpu = the number of CPUs in the system
#######################################################################

# System Description
hw_model     = System Model Name
hw_memory    = 9999 GB
hw_disk      = 9999 GB SCSI/SATA/SAS, 9999 RPM
hw_vendor    = System Vendor Name

# CPU description

hw_cpu	     = Intel Xeon  E7-8837
hw_cpu_mhz   = 9999
hw_ncpu      = 9999

# Tester description - edit the date, put your license number here!

test_date       = Apr-9999
license_num     = 0
prepared_by     = You (your_email@example.com)
display_order   = 1a

# Operating system, file system

sw_os           = SLES11 SP1
sw_file         = Default

######################################################################
# The header section of the config file.  Must appear
# before any instances of "default="
tune		= base
ext		= sgi_x86
check_md5	= yes
env_vars	= yes
mean_anyway = 1
use_submit_for_speed = 1
submit = dplace -x2 $command


####################################################################

# Compiler information

####################################################################
default=default=default=default:
CC	= icc 
FC	= ifort
CXX     = icpc


#######################################################################
# Baseline Optimization
# 
COPTIMIZE = -O3 -xSSE4.2  -ipo1 -openmp -ansi_alias -mcmodel=medium -shared-intel
CXXOPTIMIZE = -O3 -xSSE4.2 -ipo1  -openmp -ansi_alias -mcmodel=medium -shared-intel
FOPTIMIZE = -O3 -xSSE4.2 -ipo1  -openmp -mcmodel=medium -shared-intel

#######################################################################
#
# Portability

350.md=default=default=default:
FPORTABILITY = -free

367.imagick=default=default=default:
CPORTABILITY = -std=c99

# Environment variables
ENV_KMP_AFFINITY=disabled
ENV_KMP_STACKSIZE=200M
ENV_KMP_SCHEDULE=static,balanced
ENV_OMP_DYNAMIC=FALSE
