/* Classes that contain links - useless on paper */
.flagTOC, .SubMenu, .NoPrint {
  display: none;
}

/* Don't decorate links - they're not clickable */
a {
  text-decoration: none;
  background: inherit;
  color: inherit;
}

.resultpage {
  width: 100%;
}

.w3cbutton3 {
  display: none;
}
